.page-fade-slide-enter-active,
.page-fade-slide-leave-active {
  transition: all 0.28s ease;
}

.page-fade-slide-enter-from,
.page-fade-slide-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
